<!doctype html>
<html>
  <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="importmap-type" content="systemjs-importmap" />
        <link rel="icon" href="/images/main_icon.svg"/>
        <link rel="apple-touch-icon" href="/images/main_icon.svg"/>
        <meta name="theme-color" href="#000000"/>
        <meta name="description" content=""/>
        <link rel="manifest" href="/manifest.json"/>
    <title>Home Automation</title>
    <style>
      .__content__ {
        display:flex;
        flex-direction:column;
        height: 100vh;
      }
      .__app__{
        overflow:auto;
        flex-grow:1;
      }
    </style>
   
  </head>
  <body style="margin:0" id="body" >

    <section class="__content__">
    <div data-role="nav" ></div>
    <div data-role="app" class="__app__"></div> 
  </section>
  <script>
    if('serviceWorker' in navigator) {
      window.addEventListener('load', ()=> {
        navigator.serviceWorker.register("/service_worker.js")
        .then((registration)=>console.log("Service worker registered",registration.scope))
        .catch(err=>console.log("Error during registration",err));
      })
      navigator.serviceWorker.ready.then(()=>{
        if(navigator.onLine) {
          navigator.serviceWorker.controller.postMessage({
            type:"ONLINE"
          })
        }
        window.addEventListener('online', ()=>{
          navigator.serviceWorker.controller.postMessage({
            type:"ONLINE"
          })
        })
      })
    }
  </script>
  <script  src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script  src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <script type="systemjs-importmap" src="/config/import-map.json"> </script>
  <% if (env === "development") { %>
    <script type="systemjs-importmap"> 
      {
        "imports":{
          "@tbiegner99/home-automation-main-ui": "//localhost:7000/home-automation-main.js"
        }
      }
    </script>
  <% } %>
  <% if (env === "development" || env==="lower") { %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/import-map-overrides/dist/import-map-overrides.js"></script>
    <script>
     if(localStorage.getItem('develop')==="true" || new URLSearchParams(window.location.search).get('develop')==='true') {
       importMapOverrides.enableUI();
     }
   </script>
  <% } %>
 

<script >
  System.import("@tbiegner99/home-automation-main-ui")
  </script>

  </body>
</html>